openapi: 3.1.0
info:
  contact:
    email: support@figma.com
  description: |-
    This is the OpenAPI specification for the [Figma REST API](https://www.figma.com/developers/api).

    Note: we are releasing the OpenAPI specification as a beta given the large surface area and complexity of the REST API. If you notice any inaccuracies with the specification, please [file an issue](https://github.com/figma/rest-api-spec/issues).
  termsOfService: https://www.figma.com/developer-terms/
  title: Figma API
  version: 0.20.0
externalDocs:
  description: Figma REST API Documentation
  url: https://www.figma.com/developers/api
servers:
- url: https://api.figma.com
tags:
- description: "Get file JSON, images, and other file-related content."
  externalDocs:
    description: File endpoints documentation
    url: https://www.figma.com/developers/api#files
  name: Files
- description: Interact with file comments.
  externalDocs:
    description: Comment endpoints documentation
    url: https://www.figma.com/developers/api#comments
  name: Comments
- description: Interact with reactions to file comments.
  externalDocs:
    description: Comment endpoints documentation
    url: https://www.figma.com/developers/api#comments
  name: Comment Reactions
- description: Get information about projects and files in teams.
  externalDocs:
    description: Project endpoints documentation
    url: https://www.figma.com/developers/api#projects
  name: Projects
- description: Get information about the currently authenticated user.
  externalDocs:
    description: User endpoints documentation
    url: https://www.figma.com/developers/api#users
  name: Users
- description: Get information about published components.
  externalDocs:
    description: Component and style endpoints documentation
    url: https://www.figma.com/developers/api#library-items
  name: Components
- description: Get information about published component sets.
  externalDocs:
    description: Component and style endpoints documentation
    url: https://www.figma.com/developers/api#library-items
  name: Component Sets
- description: Get information about published styles.
  externalDocs:
    description: Component and style endpoints documentation
    url: https://www.figma.com/developers/api#library-items
  name: Styles
- description: Interact with team webhooks as a team admin.
  externalDocs:
    description: Webhook endpoints documentation
    url: https://www.figma.com/developers/api#webhooks_v2
  name: Webhooks
- description: Get activity logs as an organization admin.
  externalDocs:
    description: Activity log endpoints documentation
    url: https://www.figma.com/developers/api#activity_logs
  name: Activity Logs
- description: Get purchase information for your Community resources.
  externalDocs:
    description: Payment endpoints documentation
    url: https://www.figma.com/developers/api#payments
  name: Payments
- description: Interact with variables in an Enterprise organization.
  externalDocs:
    description: Variables endpoints documentation
    url: https://www.figma.com/developers/api#variables
  name: Variables
- description: Interact with dev resources in Figma Dev Mode.
  externalDocs:
    description: Dev resource endpoints documentation
    url: https://www.figma.com/developers/api#dev-resources
  name: Dev Resources
- description: Get analytics data for your published libraries.
  externalDocs:
    description: Library analytics endpoints documentation
    url: https://www.figma.com/developers/api#library-analytics
  name: Library Analytics
paths:
  /v1/files/{file_key}:
    get:
      description: |-
        Returns the document identified by `file_key` as a JSON object. The file key can be parsed from any Figma file url: `https://www.figma.com/file/{file_key}/{title}`.

        The `document` property contains a node of type `DOCUMENT`.

        The `components` property contains a mapping from node IDs to component metadata. This is to help you determine which components each instance comes from.
      operationId: getFile
      parameters:
      - description: File to export JSON from. This can be a file key or branch key.
          Use `GET /v1/files/:key` with the `branch_data` query param to get the branch
          key.
        explode: false
        in: path
        name: file_key
        required: true
        schema:
          type: string
        style: simple
      - description: A specific version ID to get. Omitting this will get the current
          version of the file.
        explode: true
        in: query
        name: version
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Comma separated list of nodes that you care about in the document. If specified, only a subset of the document will be returned corresponding to the nodes listed, their children, and everything between the root node and the listed nodes.

          Note: There may be other nodes included in the returned JSON that are outside the ancestor chains of the desired nodes. The response may also include dependencies of anything in the nodes' subtrees. For example, if a node subtree contains an instance of a local component that lives elsewhere in that file, that component and its ancestor chain will also be included.

          For historical reasons, top-level canvas nodes are always returned, regardless of whether they are listed in the `ids` parameter. This quirk may be removed in a future version of the API.
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      - description: "Positive integer representing how deep into the document tree\
          \ to traverse. For example, setting this to 1 returns only Pages, setting\
          \ it to 2 returns Pages and all top level objects on each page. Not setting\
          \ this parameter returns all nodes."
        explode: true
        in: query
        name: depth
        required: false
        schema:
          type: number
        style: form
      - description: Set to "paths" to export vector data.
        explode: true
        in: query
        name: geometry
        required: false
        schema:
          type: string
        style: form
      - description: A comma separated list of plugin IDs and/or the string "shared".
          Any data present in the document written by those plugins will be included
          in the result in the `pluginData` and `sharedPluginData` properties.
        explode: true
        in: query
        name: plugin_data
        required: false
        schema:
          type: string
        style: form
      - description: "Returns branch metadata for the requested file. If the file\
          \ is a branch, the main file's key will be included in the returned response.\
          \ If the file has branches, their metadata will be included in the returned\
          \ response. Default: false."
        explode: true
        in: query
        name: branch_data
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          $ref: '#/components/responses/GetFileResponse'
        "400":
          $ref: '#/components/responses/BadRequestErrorResponseWithErrMessage'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrMessage'
        "404":
          $ref: '#/components/responses/NotFoundErrorResponseWithErrMessage'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrMessage'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrMessage'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - files:read
      summary: Get file JSON
      tags:
      - Files
  /v1/files/{file_key}/nodes:
    get:
      description: |-
        Returns the nodes referenced to by `ids` as a JSON object. The nodes are retrieved from the Figma file referenced to by `file_key`.

        The node ID and file key can be parsed from any Figma node url: `https://www.figma.com/file/{file_key}/{title}?node-id={id}`

        The `name`, `lastModified`, `thumbnailUrl`, `editorType`, and `version` attributes are all metadata of the specified file.

        The `linkAccess` field describes the file link share permission level. There are 5 types of permissions a shared link can have: `"inherit"`, `"view"`, `"edit"`, `"org_view"`, and `"org_edit"`. `"inherit"` is the default permission applied to files created in a team project, and will inherit the project's permissions. `"org_view"` and `"org_edit"` restrict the link to org users.

        The `document` attribute contains a Node of type `DOCUMENT`.

        The `components` key contains a mapping from node IDs to component metadata. This is to help you determine which components each instance comes from.

        By default, no vector data is returned. To return vector data, pass the geometry=paths parameter to the endpoint.
        Each node can also inherit properties from applicable styles. The styles key contains a mapping from style IDs to style metadata.

        Important: the nodes map may contain values that are `null`. This may be due to the node id not existing within the specified file.
      operationId: getFileNodes
      parameters:
      - description: File to export JSON from. This can be a file key or branch key.
          Use `GET /v1/files/:key` with the `branch_data` query param to get the branch
          key.
        explode: false
        in: path
        name: file_key
        required: true
        schema:
          type: string
        style: simple
      - description: A comma separated list of node IDs to retrieve and convert.
        explode: true
        in: query
        name: ids
        required: true
        schema:
          type: string
        style: form
      - description: A specific version ID to get. Omitting this will get the current
          version of the file.
        explode: true
        in: query
        name: version
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Positive integer representing how deep into the node tree to traverse. For example, setting this to 1 will return only the children directly underneath the desired nodes. Not setting this parameter returns all nodes.

          Note: this parameter behaves differently from the same parameter in the `GET /v1/files/:key` endpoint. In this endpoint, the depth will be counted starting from the desired node rather than the document root node.
        explode: true
        in: query
        name: depth
        required: false
        schema:
          type: number
        style: form
      - description: Set to "paths" to export vector data.
        explode: true
        in: query
        name: geometry
        required: false
        schema:
          type: string
        style: form
      - description: A comma separated list of plugin IDs and/or the string "shared".
          Any data present in the document written by those plugins will be included
          in the result in the `pluginData` and `sharedPluginData` properties.
        explode: true
        in: query
        name: plugin_data
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/responses/GetFileNodesResponse'
        "400":
          $ref: '#/components/responses/BadRequestErrorResponseWithErrMessage'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrMessage'
        "404":
          $ref: '#/components/responses/NotFoundErrorResponseWithErrMessage'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrMessage'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrMessage'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - files:read
      summary: Get file JSON for specific nodes
      tags:
      - Files
  /v1/images/{file_key}:
    get:
      description: |
        Renders images from a file.

        If no error occurs, `"images"` will be populated with a map from node IDs to URLs of the rendered images, and `"status"` will be omitted. The image assets will expire after 30 days. Images up to 32 megapixels can be exported. Any images that are larger will be scaled down.

        Important: the image map may contain values that are `null`. This indicates that rendering of that specific node has failed. This may be due to the node id not existing, or other reasons such has the node having no renderable components. It is guaranteed that any node that was requested for rendering will be represented in this map whether or not the render succeeded.

        To render multiple images from the same file, use the `ids` query parameter to specify multiple node ids.

        ```
        GET /v1/images/:key?ids=1:2,1:3,1:4
        ```
      operationId: getImages
      parameters:
      - description: File to export images from. This can be a file key or branch
          key. Use `GET /v1/files/:key` with the `branch_data` query param to get
          the branch key.
        explode: false
        in: path
        name: file_key
        required: true
        schema:
          type: string
        style: simple
      - description: A comma separated list of node IDs to render.
        explode: true
        in: query
        name: ids
        required: true
        schema:
          type: string
        style: form
      - description: A specific version ID to get. Omitting this will get the current
          version of the file.
        explode: true
        in: query
        name: version
        required: false
        schema:
          type: string
        style: form
      - description: "A number between 0.01 and 4, the image scaling factor."
        explode: true
        in: query
        name: scale
        required: false
        schema:
          maximum: 4
          minimum: 0.01
          type: number
        style: form
      - description: A string enum for the image output format.
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: png
          enum:
          - jpg
          - png
          - svg
          - pdf
          type: string
        style: form
      - description: |-
          Whether text elements are rendered as outlines (vector paths) or as `<text>` elements in SVGs.

          Rendering text elements as outlines guarantees that the text looks exactly the same in the SVG as it does in the browser/inside Figma.

          Exporting as `<text>` allows text to be selectable inside SVGs and generally makes the SVG easier to read. However, this relies on the browser's rendering engine which can vary between browsers and/or operating systems. As such, visual accuracy is not guaranteed as the result could look different than in Figma.
        explode: true
        in: query
        name: svg_outline_text
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Whether to include id attributes for all SVG elements. Adds the
          layer name to the `id` attribute of an svg element.
        explode: true
        in: query
        name: svg_include_id
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Whether to include node id attributes for all SVG elements. Adds
          the node id to a `data-node-id` attribute of an svg element.
        explode: true
        in: query
        name: svg_include_node_id
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Whether to simplify inside/outside strokes and use stroke attribute
          if possible instead of `<mask>`.
        explode: true
        in: query
        name: svg_simplify_stroke
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Whether content that overlaps the node should be excluded from\
          \ rendering. Passing false (i.e., rendering overlaps) may increase processing\
          \ time, since more of the document must be included in rendering."
        explode: true
        in: query
        name: contents_only
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Use the full dimensions of the node regardless of whether or
          not it is cropped or the space around it is empty. Use this to export text
          nodes without cropping.
        explode: true
        in: query
        name: use_absolute_bounds
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          $ref: '#/components/responses/GetImagesResponse'
        "400":
          $ref: '#/components/responses/BadRequestErrorResponseWithErrMessage'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrMessage'
        "404":
          $ref: '#/components/responses/NotFoundErrorResponseWithErrMessage'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrMessage'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrMessage'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - files:read
      summary: Render images of file nodes
      tags:
      - Files
  /v1/files/{file_key}/images:
    get:
      description: |-
        Returns download links for all images present in image fills in a document. Image fills are how Figma represents any user supplied images. When you drag an image into Figma, we create a rectangle with a single fill that represents the image, and the user is able to transform the rectangle (and properties on the fill) as they wish.

        This endpoint returns a mapping from image references to the URLs at which the images may be download. Image URLs will expire after no more than 14 days. Image references are located in the output of the GET files endpoint under the `imageRef` attribute in a `Paint`.
      operationId: getImageFills
      parameters:
      - description: File to get image URLs from. This can be a file key or branch
          key. Use `GET /v1/files/:key` with the `branch_data` query param to get
          the branch key.
        explode: false
        in: path
        name: file_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/components/responses/GetImageFillsResponse'
        "400":
          $ref: '#/components/responses/BadRequestErrorResponseWithErrMessage'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrMessage'
        "404":
          $ref: '#/components/responses/NotFoundErrorResponseWithErrMessage'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrMessage'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrMessage'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - files:read
      summary: Get image fills
      tags:
      - Files
  /v1/teams/{team_id}/projects:
    get:
      description: "You can use this endpoint to get a list of all the Projects within\
        \ the specified team. This will only return projects visible to the authenticated\
        \ user or owner of the developer token. Note: it is not currently possible\
        \ to programmatically obtain the team id of a user just from a token. To obtain\
        \ a team id, navigate to a team page of a team you are a part of. The team\
        \ id will be present in the URL after the word team and before your team name."
      operationId: getTeamProjects
      parameters:
      - description: ID of the team to list projects from
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/components/responses/GetTeamProjectsResponse'
        "400":
          $ref: '#/components/responses/BadRequestErrorResponseWithErrorBoolean'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrMessage'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrMessage'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrMessage'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - files:read
      summary: Get projects in a team
      tags:
      - Projects
  /v1/projects/{project_id}/files:
    get:
      description: Get a list of all the Files within the specified project.
      operationId: getProjectFiles
      parameters:
      - description: ID of the project to list files from
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: Returns branch metadata in the response for each main file with
          a branch inside the project.
        explode: true
        in: query
        name: branch_data
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          $ref: '#/components/responses/GetProjectFilesResponse'
        "400":
          $ref: '#/components/responses/BadRequestErrorResponseWithErrorBoolean'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrMessage'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrMessage'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrMessage'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - files:read
      summary: Get files in a project
      tags:
      - Projects
  /v1/files/{file_key}/versions:
    get:
      description: "This endpoint fetches the version history of a file, allowing\
        \ you to see the progression of a file over time. You can then use this information\
        \ to render a specific version of the file, via another endpoint."
      operationId: getFileVersions
      parameters:
      - description: File to get version history from. This can be a file key or branch
          key. Use `GET /v1/files/:key` with the `branch_data` query param to get
          the branch key.
        explode: false
        in: path
        name: file_key
        required: true
        schema:
          type: string
        style: simple
      - description: "The number of items returned in a page of the response. If not\
          \ included, `page_size` is `30`."
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          maximum: 50
          type: number
        style: form
      - description: "A version ID for one of the versions in the history. Gets versions\
          \ before this ID. Used for paginating. If the response is not paginated,\
          \ this link returns the same data in the current response."
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: number
        style: form
      - description: "A version ID for one of the versions in the history. Gets versions\
          \ after this ID. Used for paginating. If the response is not paginated,\
          \ this property is not included."
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: number
        style: form
      responses:
        "200":
          $ref: '#/components/responses/GetFileVersionsResponse'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrMessage'
        "404":
          $ref: '#/components/responses/NotFoundErrorResponseWithErrMessage'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrMessage'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrMessage'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - files:read
      summary: Get versions of a file
      tags:
      - Files
  /v1/files/{file_key}/comments:
    get:
      description: Gets a list of comments left on the file.
      operationId: getComments
      parameters:
      - description: File to get comments from. This can be a file key or branch key.
          Use `GET /v1/files/:key` with the `branch_data` query param to get the branch
          key.
        explode: false
        in: path
        name: file_key
        required: true
        schema:
          type: string
        style: simple
      - description: "If enabled, will return comments as their markdown equivalents\
          \ when applicable."
        explode: true
        in: query
        name: as_md
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          $ref: '#/components/responses/GetCommentsResponse'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrMessage'
        "404":
          $ref: '#/components/responses/NotFoundErrorResponseWithErrMessage'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrMessage'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrMessage'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - files:read
      summary: Get comments in a file
      tags:
      - Comments
    post:
      description: Posts a new comment on the file.
      operationId: postComment
      parameters:
      - description: File to add comments in. This can be a file key or branch key.
          Use `GET /v1/files/:key` with the `branch_data` query param to get the branch
          key.
        explode: false
        in: path
        name: file_key
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postComment_request'
        description: Comment to post.
        required: true
      responses:
        "200":
          $ref: '#/components/responses/PostCommentResponse'
        "400":
          $ref: '#/components/responses/BadRequestErrorResponseWithErrorBoolean'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrMessage'
        "404":
          $ref: '#/components/responses/NotFoundErrorResponseWithErrMessage'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrMessage'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrMessage'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - file_comments:write
      summary: Add a comment to a file
      tags:
      - Comments
  /v1/files/{file_key}/comments/{comment_id}:
    delete:
      description: Deletes a specific comment. Only the person who made the comment
        is allowed to delete it.
      operationId: deleteComment
      parameters:
      - description: File to delete comment from. This can be a file key or branch
          key. Use `GET /v1/files/:key` with the `branch_data` query param to get
          the branch key.
        explode: false
        in: path
        name: file_key
        required: true
        schema:
          type: string
        style: simple
      - description: Comment id of comment to delete
        explode: false
        in: path
        name: comment_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/components/responses/DeleteCommentResponse'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrMessage'
        "404":
          $ref: '#/components/responses/NotFoundErrorResponseWithErrMessage'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrMessage'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrMessage'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - file_comments:write
      summary: Delete a comment
      tags:
      - Comments
  /v1/files/{file_key}/comments/{comment_id}/reactions:
    delete:
      description: Deletes a specific comment reaction. Only the person who made the
        reaction is allowed to delete it.
      operationId: deleteCommentReaction
      parameters:
      - description: File to delete comment reaction from. This can be a file key
          or branch key. Use `GET /v1/files/:key` with the `branch_data` query param
          to get the branch key.
        explode: false
        in: path
        name: file_key
        required: true
        schema:
          type: string
        style: simple
      - description: ID of comment to delete reaction from.
        explode: false
        in: path
        name: comment_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: emoji
        required: true
        schema:
          $ref: '#/components/schemas/Emoji'
        style: form
      responses:
        "200":
          $ref: '#/components/responses/DeleteCommentReactionResponse'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrMessage'
        "404":
          $ref: '#/components/responses/NotFoundErrorResponseWithErrMessage'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrMessage'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrMessage'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - file_comments:write
      summary: Delete a reaction
      tags:
      - Comment Reactions
    get:
      description: Gets a paginated list of reactions left on the comment.
      operationId: getCommentReactions
      parameters:
      - description: File to get comment containing reactions from. This can be a
          file key or branch key. Use `GET /v1/files/:key` with the `branch_data`
          query param to get the branch key.
        explode: false
        in: path
        name: file_key
        required: true
        schema:
          type: string
        style: simple
      - description: ID of comment to get reactions from.
        explode: false
        in: path
        name: comment_id
        required: true
        schema:
          type: string
        style: simple
      - description: "Cursor for pagination, retrieved from the response of the previous\
          \ call."
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/responses/GetCommentReactionsResponse'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrMessage'
        "404":
          $ref: '#/components/responses/NotFoundErrorResponseWithErrMessage'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrMessage'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrMessage'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - files:read
      summary: Get reactions for a comment
      tags:
      - Comment Reactions
    post:
      description: Posts a new comment reaction on a file comment.
      operationId: postCommentReaction
      parameters:
      - description: File to post comment reactions to. This can be a file key or
          branch key. Use `GET /v1/files/:key` with the `branch_data` query param
          to get the branch key.
        explode: false
        in: path
        name: file_key
        required: true
        schema:
          type: string
        style: simple
      - description: ID of comment to react to.
        explode: false
        in: path
        name: comment_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postCommentReaction_request'
        description: Reaction to post.
        required: true
      responses:
        "200":
          $ref: '#/components/responses/PostCommentReactionResponse'
        "400":
          $ref: '#/components/responses/BadRequestErrorResponseWithErrorBoolean'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrMessage'
        "404":
          $ref: '#/components/responses/NotFoundErrorResponseWithErrMessage'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrMessage'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrMessage'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - file_comments:write
      summary: Add a reaction to a comment
      tags:
      - Comment Reactions
  /v1/me:
    get:
      description: Returns the user information for the currently authenticated user.
      operationId: getMe
      responses:
        "200":
          $ref: '#/components/responses/GetMeResponse'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrMessage'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrMessage'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrMessage'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - files:read
      summary: Get current user
      tags:
      - Users
  /v1/teams/{team_id}/components:
    get:
      description: Get a paginated list of published components within a team library.
      operationId: getTeamComponents
      parameters:
      - description: Id of the team to list components from.
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: string
        style: simple
      - description: Number of items to return in a paged list of results. Defaults
          to 30.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 30
          type: number
        style: form
      - description: Cursor indicating which id after which to start retrieving components
          for. Exclusive with before. The cursor value is an internally tracked integer
          that doesn't correspond to any Ids.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: number
        style: form
      - description: Cursor indicating which id before which to start retrieving components
          for. Exclusive with after. The cursor value is an internally tracked integer
          that doesn't correspond to any Ids.
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: number
        style: form
      responses:
        "200":
          $ref: '#/components/responses/GetTeamComponentsResponse'
        "400":
          $ref: '#/components/responses/BadRequestErrorResponseWithErrMessage'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrMessage'
        "404":
          $ref: '#/components/responses/NotFoundErrorResponseWithErrorBoolean'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrMessage'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrMessage'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - files:read
      summary: Get team components
      tags:
      - Components
  /v1/files/{file_key}/components:
    get:
      description: Get a list of published components within a file library.
      operationId: getFileComponents
      parameters:
      - description: "File to list components from. This must be a main file key,\
          \ not a branch key, as it is not possible to publish from branches."
        explode: false
        in: path
        name: file_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/components/responses/GetFileComponentsResponse'
        "400":
          $ref: '#/components/responses/BadRequestErrorResponseWithErrMessage'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrMessage'
        "404":
          $ref: '#/components/responses/NotFoundErrorResponseWithErrorBoolean'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrMessage'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrMessage'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - files:read
      summary: Get file components
      tags:
      - Components
  /v1/components/{key}:
    get:
      description: Get metadata on a component by key.
      operationId: getComponent
      parameters:
      - description: The unique identifier of the component.
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/components/responses/GetComponentResponse'
        "400":
          $ref: '#/components/responses/BadRequestErrorResponseWithErrMessage'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrMessage'
        "404":
          $ref: '#/components/responses/NotFoundErrorResponseWithErrorBoolean'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrMessage'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrMessage'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - files:read
      summary: Get component
      tags:
      - Components
  /v1/teams/{team_id}/component_sets:
    get:
      description: Get a paginated list of published component sets within a team
        library.
      operationId: getTeamComponentSets
      parameters:
      - description: Id of the team to list component sets from.
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: string
        style: simple
      - description: Number of items to return in a paged list of results. Defaults
          to 30.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 30
          type: number
        style: form
      - description: Cursor indicating which id after which to start retrieving component
          sets for. Exclusive with before. The cursor value is an internally tracked
          integer that doesn't correspond to any Ids.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: number
        style: form
      - description: Cursor indicating which id before which to start retrieving component
          sets for. Exclusive with after. The cursor value is an internally tracked
          integer that doesn't correspond to any Ids.
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: number
        style: form
      responses:
        "200":
          $ref: '#/components/responses/GetTeamComponentSetsResponse'
        "400":
          $ref: '#/components/responses/BadRequestErrorResponseWithErrMessage'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrMessage'
        "404":
          $ref: '#/components/responses/NotFoundErrorResponseWithErrorBoolean'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrMessage'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrMessage'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - files:read
      summary: Get team component sets
      tags:
      - Component Sets
  /v1/files/{file_key}/component_sets:
    get:
      description: Get a list of published component sets within a file library.
      operationId: getFileComponentSets
      parameters:
      - description: "File to list component sets from. This must be a main file key,\
          \ not a branch key, as it is not possible to publish from branches."
        explode: false
        in: path
        name: file_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/components/responses/GetFileComponentSetsResponse'
        "400":
          $ref: '#/components/responses/BadRequestErrorResponseWithErrMessage'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrMessage'
        "404":
          $ref: '#/components/responses/NotFoundErrorResponseWithErrorBoolean'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrMessage'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrMessage'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - files:read
      summary: Get file component sets
      tags:
      - Component Sets
  /v1/component_sets/{key}:
    get:
      description: Get metadata on a component set by key.
      operationId: getComponentSet
      parameters:
      - description: The unique identifier of the component set.
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/components/responses/GetComponentSetResponse'
        "400":
          $ref: '#/components/responses/BadRequestErrorResponseWithErrMessage'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrMessage'
        "404":
          $ref: '#/components/responses/NotFoundErrorResponseWithErrorBoolean'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrMessage'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrMessage'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - files:read
      summary: Get component set
      tags:
      - Component Sets
  /v1/teams/{team_id}/styles:
    get:
      description: Get a paginated list of published styles within a team library.
      operationId: getTeamStyles
      parameters:
      - description: Id of the team to list styles from.
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: string
        style: simple
      - description: Number of items to return in a paged list of results. Defaults
          to 30.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 30
          type: number
        style: form
      - description: Cursor indicating which id after which to start retrieving styles
          for. Exclusive with before. The cursor value is an internally tracked integer
          that doesn't correspond to any Ids.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: number
        style: form
      - description: Cursor indicating which id before which to start retrieving styles
          for. Exclusive with after. The cursor value is an internally tracked integer
          that doesn't correspond to any Ids.
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: number
        style: form
      responses:
        "200":
          $ref: '#/components/responses/GetTeamStylesResponse'
        "400":
          $ref: '#/components/responses/BadRequestErrorResponseWithErrMessage'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrMessage'
        "404":
          $ref: '#/components/responses/NotFoundErrorResponseWithErrorBoolean'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrMessage'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrMessage'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - files:read
      summary: Get team styles
      tags:
      - Styles
  /v1/files/{file_key}/styles:
    get:
      description: Get a list of published styles within a file library.
      operationId: getFileStyles
      parameters:
      - description: "File to list styles from. This must be a main file key, not\
          \ a branch key, as it is not possible to publish from branches."
        explode: false
        in: path
        name: file_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/components/responses/GetFileStylesResponse'
        "400":
          $ref: '#/components/responses/BadRequestErrorResponseWithErrMessage'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrMessage'
        "404":
          $ref: '#/components/responses/NotFoundErrorResponseWithErrorBoolean'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrMessage'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrMessage'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - files:read
      summary: Get file styles
      tags:
      - Styles
  /v1/styles/{key}:
    get:
      description: Get metadata on a style by key.
      operationId: getStyle
      parameters:
      - description: The unique identifier of the style.
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/components/responses/GetStyleResponse'
        "400":
          $ref: '#/components/responses/BadRequestErrorResponseWithErrMessage'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrMessage'
        "404":
          $ref: '#/components/responses/NotFoundErrorResponseWithErrorBoolean'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrMessage'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrMessage'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - files:read
      summary: Get style
      tags:
      - Styles
  /v2/webhooks:
    post:
      callbacks:
        ping:
          '{$request.body#/endpoint}':
            post:
              description: "Triggers when a webhook is created. Used for debugging.\
                \ Cannot be subscribed to, all webhooks will receive `PING` events."
              operationId: PingPost
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/WebhookPingPayload'
                description: The webhook will send a PING event to the endpoint when
                  it is created.
                required: true
              responses:
                "200":
                  description: |-
                    Your server implementation should return this HTTP status code
                                        if the data was received successfully
                "400":
                  description: "If your server returns a non-200 status code, or takes\
                    \ too long, the Figma API will treat this as an error. Figma retries\
                    \ failed requests 3 times with an exponential backoff strategy."
              security:
              - PersonalAccessToken: []
              - OAuth2:
                - webhooks:write
              summary: Ping event
              x-callback-request: true
        fileUpdate:
          '{$request.body#/endpoint}':
            post:
              description: Triggers within 30 minutes of editing inactivity in a file.
              operationId: FileUpdatePost
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/WebhookFileUpdatePayload'
                description: "This is useful when you want to stay up-to-date with\
                  \ the contents of a file. For example, you could generate a static\
                  \ website from your Figma document and keep it always up-to-date\
                  \ with this webhook."
                required: true
              responses:
                "200":
                  description: |-
                    Your server implementation should return this HTTP status code
                                        if the data was received successfully
                "400":
                  description: "If your server returns a non-200 status code, or takes\
                    \ too long, the Figma API will treat this as an error. Figma retries\
                    \ failed requests 3 times with an exponential backoff strategy."
              security:
              - PersonalAccessToken: []
              - OAuth2:
                - webhooks:write
              summary: File update event
              x-callback-request: true
        fileVersionUpdate:
          '{$request.body#/endpoint}':
            post:
              description: Triggers whenever a named version is created in the version
                history of a file.
              operationId: FileVersionUpdatePost
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/WebhookFileVersionUpdatePayload'
                description: "This is useful for workflow integrations. For example,\
                  \ suppose you have a Figma document with icon assets. When the design\
                  \ for an asset is updated and ready to publish, you can have a member\
                  \ of the team tag that version in the version history and then use\
                  \ this webhook event to generate and deploy your new asset version."
                required: true
              responses:
                "200":
                  description: |-
                    Your server implementation should return this HTTP status code
                                        if the data was received successfully
                "400":
                  description: "If your server returns a non-200 status code, or takes\
                    \ too long, the Figma API will treat this as an error. Figma retries\
                    \ failed requests 3 times with an exponential backoff strategy."
              security:
              - PersonalAccessToken: []
              - OAuth2:
                - webhooks:write
              summary: File version update event
              x-callback-request: true
        fileDelete:
          '{$request.body#/endpoint}':
            post:
              description: "Triggers whenever a file has been deleted. If you subscribe\
                \ to `FILE_UPDATE`, you automatically get these notifications. Note\
                \ that this does not trigger on all files within a folder, if the\
                \ folder is deleted."
              operationId: FileDeletePost
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/WebhookFileDeletePayload'
                description: "Note if a folder is deleted, this event will not trigger\
                  \ for files within the folder."
                required: true
              responses:
                "200":
                  description: |-
                    Your server implementation should return this HTTP status code
                                        if the data was received successfully
                "400":
                  description: "If your server returns a non-200 status code, or takes\
                    \ too long, the Figma API will treat this as an error. Figma retries\
                    \ failed requests 3 times with an exponential backoff strategy."
              security:
              - PersonalAccessToken: []
              - OAuth2:
                - webhooks:write
              summary: File delete event
              x-callback-request: true
        libraryPublish:
          '{$request.body#/endpoint}':
            post:
              description: Triggers whenever a library file is published.
              operationId: LibraryPublishPost
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/WebhookLibraryPublishPayload'
                description: |-
                  This is useful for workflow integrations. This webhook could integrate with Slack, Asana or Jira, notifying designers to modify their assets when new components are published.

                  Note: when a library is published, a separate `LIBRARY_PUBLISH` event will be triggered for each type of library asset (components, styles, and variables) that has changes.
                required: true
              responses:
                "200":
                  description: |-
                    Your server implementation should return this HTTP status code
                                        if the data was received successfully
                "400":
                  description: "If your server returns a non-200 status code, or takes\
                    \ too long, the Figma API will treat this as an error. Figma retries\
                    \ failed requests 3 times with an exponential backoff strategy."
              security:
              - PersonalAccessToken: []
              - OAuth2:
                - webhooks:write
              summary: Library publish event
              x-callback-request: true
        fileComment:
          '{$request.body#/endpoint}':
            post:
              description: Triggers when someone comments on a file.
              operationId: FileCommentPost
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/WebhookFileCommentPayload'
                description: This webhook could integrate with Asana or Jira and automatically
                  create tasks whenever a user comments. It could also integrate with
                  Slack and notify mentioned users.
                required: true
              responses:
                "200":
                  description: |-
                    Your server implementation should return this HTTP status code
                                        if the data was received successfully
                "400":
                  description: "If your server returns a non-200 status code, or takes\
                    \ too long, the Figma API will treat this as an error. Figma retries\
                    \ failed requests 3 times with an exponential backoff strategy."
              security:
              - PersonalAccessToken: []
              - OAuth2:
                - webhooks:write
              summary: File comment event
              x-callback-request: true
      description: "Create a new webhook which will call the specified endpoint when\
        \ the event triggers. By default, this webhook will automatically send a PING\
        \ event to the endpoint when it is created. If this behavior is not desired,\
        \ you can create the webhook and set the status to PAUSED and reactivate it\
        \ later."
      operationId: postWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postWebhook_request'
        description: The webhook to create.
        required: true
      responses:
        "200":
          $ref: '#/components/responses/PostWebhookResponse'
        "400":
          $ref: '#/components/responses/BadRequestErrorResponseWithErrorBoolean'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrMessage'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrMessage'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrMessage'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - webhooks:write
      summary: Create a webhook
      tags:
      - Webhooks
  /v2/webhooks/{webhook_id}:
    delete:
      description: Deletes the specified webhook. This operation cannot be reversed.
      operationId: deleteWebhook
      parameters:
      - description: ID of webhook to delete
        explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/components/responses/DeleteWebhookResponse'
        "400":
          $ref: '#/components/responses/BadRequestErrorResponseWithErrorBoolean'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrMessage'
        "404":
          $ref: '#/components/responses/NotFoundErrorResponseWithErrorBoolean'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrMessage'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrorBoolean'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - webhooks:write
      summary: Delete a webhook
      tags:
      - Webhooks
    get:
      description: Get a webhook by ID.
      operationId: getWebhook
      parameters:
      - description: ID of webhook to get
        explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/components/responses/GetWebhookResponse'
        "400":
          $ref: '#/components/responses/BadRequestErrorResponseWithErrorBoolean'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrMessage'
        "404":
          $ref: '#/components/responses/NotFoundErrorResponseWithErrorBoolean'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrMessage'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrMessage'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - files:read
      summary: Get a webhook
      tags:
      - Webhooks
    put:
      description: Update a webhook by ID.
      operationId: putWebhook
      parameters:
      - description: ID of webhook to update
        explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putWebhook_request'
        description: The webhook to update.
        required: true
      responses:
        "200":
          $ref: '#/components/responses/PutWebhookResponse'
        "400":
          $ref: '#/components/responses/BadRequestErrorResponseWithErrorBoolean'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrMessage'
        "404":
          $ref: '#/components/responses/NotFoundErrorResponseWithErrorBoolean'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrMessage'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrMessage'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - webhooks:write
      summary: Update a webhook
      tags:
      - Webhooks
  /v2/teams/{team_id}/webhooks:
    get:
      description: Returns all webhooks registered under the specified team.
      operationId: getTeamWebhooks
      parameters:
      - description: ID of team to get webhooks for
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/components/responses/GetTeamWebhooksResponse'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrMessage'
        "404":
          $ref: '#/components/responses/NotFoundErrorResponseWithErrMessage'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrMessage'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrMessage'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - files:read
      summary: Get team webhooks
      tags:
      - Webhooks
  /v2/webhooks/{webhook_id}/requests:
    get:
      description: Returns all webhook requests sent within the last week. Useful
        for debugging.
      operationId: getWebhookRequests
      parameters:
      - description: The id of the webhook subscription you want to see events from
        explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/components/responses/GetWebhookRequestsResponse'
        "400":
          $ref: '#/components/responses/BadRequestErrorResponseWithErrorBoolean'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrMessage'
        "404":
          $ref: '#/components/responses/NotFoundErrorResponseWithErrorBoolean'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrMessage'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrorBoolean'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - files:read
      summary: Get webhook requests
      tags:
      - Webhooks
  /v1/activity_logs:
    get:
      description: Returns a list of activity log events
      operationId: getActivityLogs
      parameters:
      - description: Event type(s) to include in the response. Can have multiple values
          separated by comma. All events are returned by default.
        explode: true
        in: query
        name: events
        required: false
        schema:
          type: string
        style: form
      - description: Unix timestamp of the least recent event to include. This param
          defaults to one year ago if unspecified. Events prior to one year ago are
          not available.
        explode: true
        in: query
        name: start_time
        required: false
        schema:
          type: number
        style: form
      - description: Unix timestamp of the most recent event to include. This param
          defaults to the current timestamp if unspecified.
        explode: true
        in: query
        name: end_time
        required: false
        schema:
          type: number
        style: form
      - description: Maximum number of events to return. This param defaults to 1000
          if unspecified.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: number
        style: form
      - description: Event order by timestamp. This param can be either "asc" (default)
          or "desc".
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/responses/GetActivityLogsResponse'
        "400":
          $ref: '#/components/responses/BadRequestErrorResponseWithErrorBoolean'
        "401":
          $ref: '#/components/responses/UnauthorizedErrorResponseWithErrorBoolean'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrorBoolean'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrorBoolean'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrorBoolean'
      security:
      - OrgOAuth2:
        - org:activity_log_read
      summary: Get activity logs
      tags:
      - Activity Logs
  /v1/payments:
    get:
      description: |-
        There are two methods to query for a user's payment information on a plugin, widget, or Community file. The first method, using plugin payment tokens, is typically used when making queries from a plugin's or widget's code. The second method, providing a user ID and resource ID, is typically used when making queries from anywhere else.

        Note that you can only query for resources that you own. In most cases, this means that you can only query resources that you originally created.
      operationId: getPayments
      parameters:
      - description: Short-lived token returned from "getPluginPaymentTokenAsync"
          in the plugin payments API and used to authenticate to this endpoint. Read
          more about generating this token through "Calling the Payments REST API
          from a plugin or widget" below.
        explode: true
        in: query
        name: plugin_payment_token
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the user to query payment information about. You can
          get the user ID by having the user OAuth2 to the Figma REST API.
        explode: true
        in: query
        name: user_id
        required: false
        schema:
          type: number
        style: form
      - description: "The ID of the Community file to query a user's payment information\
          \ on. You can get the Community file ID from the file's Community page (look\
          \ for the number after \"file/\" in the URL). Provide exactly one of \"\
          community_file_id\", \"plugin_id\", or \"widget_id\"."
        explode: true
        in: query
        name: community_file_id
        required: false
        schema:
          type: number
        style: form
      - description: "The ID of the plugin to query a user's payment information on.\
          \ You can get the plugin ID from the plugin's manifest, or from the plugin's\
          \ Community page (look for the number after \"plugin/\" in the URL). Provide\
          \ exactly one of \"community_file_id\", \"plugin_id\", or \"widget_id\"."
        explode: true
        in: query
        name: plugin_id
        required: false
        schema:
          type: number
        style: form
      - description: "The ID of the widget to query a user's payment information on.\
          \ You can get the widget ID from the widget's manifest, or from the widget's\
          \ Community page (look for the number after \"widget/\" in the URL). Provide\
          \ exactly one of \"community_file_id\", \"plugin_id\", or \"widget_id\"."
        explode: true
        in: query
        name: widget_id
        required: false
        schema:
          type: number
        style: form
      responses:
        "200":
          $ref: '#/components/responses/GetPaymentsResponse'
        "401":
          $ref: '#/components/responses/UnauthorizedErrorResponseWithErrorBoolean'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrorBoolean'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrorBoolean'
      security:
      - PersonalAccessToken: []
      summary: Get payments
      tags:
      - Payments
  /v1/files/{file_key}/variables/local:
    get:
      description: "**This API is available to full members of Enterprise orgs.**\n\
        \nThe `GET /v1/files/:file_key/variables/local` endpoint lets you enumerate\
        \ local variables created in the file and remote variables used in the file.\
        \ Remote variables are referenced by their `subscribed_id`.\n\nAs a part of\
        \ the Variables related API additions, the `GET /v1/files/:file_key` endpoint\
        \ now returns a `boundVariables` property, containing the `variableId` of\
        \ the bound variable. The `GET /v1/files/:file_key/variables/local` endpoint\
        \ can be used to get the full variable or variable collection object.\n\n\
        Note that `GET /v1/files/:file_key/variables/published` does not return modes.\
        \ Instead, you will need to use the `GET /v1/files/:file_key/variables/local`\
        \ endpoint, in the same file, to examine the mode values.\n        "
      operationId: getLocalVariables
      parameters:
      - description: File to get variables from. This can be a file key or branch
          key. Use `GET /v1/files/:key` with the `branch_data` query param to get
          the branch key.
        explode: false
        in: path
        name: file_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/components/responses/GetLocalVariablesResponse'
        "401":
          $ref: '#/components/responses/UnauthorizedErrorResponseWithErrorBoolean'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrorBoolean'
        "404":
          $ref: '#/components/responses/NotFoundErrorResponseWithErrorBoolean'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrorBoolean'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrorBoolean'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - file_variables:read
      summary: Get local variables
      tags:
      - Variables
  /v1/files/{file_key}/variables/published:
    get:
      description: |-
        **This API is available to full members of Enterprise orgs.**

        The `GET /v1/files/:file_key/variables/published` endpoint returns the variables that are published from the given file.

        The response for this endpoint contains some key differences compared to the `GET /v1/files/:file_key/variables/local` endpoint:

        - Each variable and variable collection contains a `subscribed_id`.
        - Modes are omitted for published variable collections

        Published variables have two ids: an id that is assigned in the file where it is created (`id`), and an id that is used by subscribing files (`subscribed_id`). The `id` and `key` are stable over the lifetime of the variable. The `subscribed_id` changes every time the variable is modified and published. The same is true for variable collections.

        The `updatedAt` fields are ISO 8601 timestamps that indicate the last time that a change to a variable was published. For variable collections, this timestamp will change any time a variable in the collection is changed.
      operationId: getPublishedVariables
      parameters:
      - description: "File to get variables from. This must be a main file key, not\
          \ a branch key, as it is not possible to publish from branches."
        explode: false
        in: path
        name: file_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/components/responses/GetPublishedVariablesResponse'
        "401":
          $ref: '#/components/responses/UnauthorizedErrorResponseWithErrorBoolean'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrorBoolean'
        "404":
          $ref: '#/components/responses/NotFoundErrorResponseWithErrorBoolean'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrorBoolean'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrorBoolean'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - file_variables:read
      summary: Get published variables
      tags:
      - Variables
  /v1/files/{file_key}/variables:
    post:
      description: |-
        **This API is available to full members of Enterprise orgs with Editor seats.**

        The `POST /v1/files/:file_key/variables` endpoint lets you bulk create, update, and delete variables and variable collections.

        The request body supports the following 4 top-level arrays. Changes from these arrays will be applied in the below order, and within each array, by array order.

        - **variableCollections**: For creating, updating, and deleting variable collections
        - **variableModes**: For creating, updating, and deleting modes within variable collections
          - Each collection can have a maximum of 40 modes
          - Mode names cannot be longer than 40 characters
        - **variables**: For creating, updating, and deleting variables
          - Each collection can have a maximum of 5000 variables
          - Variable names must be unique within a collection and cannot contain certain special characters such as `.{}`
        - **variableModeValues**: For setting a variable value under a specific mode.
          - When setting aliases, a variable cannot be aliased to itself or form an alias cycle

        Temporary ids can be used to reference an object later in the same POST request body. They can be used at create time in the `id` property of variable collections, modes, variables, and in the `initialModeId` property of variable collections. They are scoped to a single request body, and must be unique within the body. The mapping of temporary ids to real ids is returned in the response.

        This endpoint has the following key behaviors:

        - The request body must be 4MB or less.
        - Must include an `action` property for collections, modes, and variables to tell the API whether to create, update, or delete the object.
        - When creating a collection, mode, or variable, you can include a temporary `id` that can be referenced in dependent objects in the same request. For example, you can create a new collection with the id `"my_new_collection"`. You can then set `variableCollectionId` to `"my_new_collection"` in new modes or variables. Temporary ids must be unique in the request body.
        - New collections always come with one mode. You can reference this mode by setting `initialModeId` to a temporary id in the request body. This is useful if you want to set values for variables in the mode in the `variableModeValues` array.
          - The `tempIdToRealId` array returns a mapping of the temporary ids in the request, to the real ids of the newly created objects.
        - When adding new modes or variables, default variable values will be applied, consistent with what happens in the UI.
        - Everything to be created, updated, and deleted in the request body is treated as one atomic operation. If there is any validation failure, you will get a 400 status code response, and no changes will be persisted.
        - You will not be able to update remote variables or variable collections. You can only update variables in the file where they were originally created.
      operationId: postVariables
      parameters:
      - description: File to modify variables in. This can be a file key or branch
          key. Use `GET /v1/files/:key` with the `branch_data` query param to get
          the branch key.
        explode: false
        in: path
        name: file_key
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postVariables_request'
        required: true
      responses:
        "200":
          $ref: '#/components/responses/PostVariablesResponse'
        "400":
          $ref: '#/components/responses/BadRequestErrorResponseWithErrorBoolean'
        "401":
          $ref: '#/components/responses/UnauthorizedErrorResponseWithErrorBoolean'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrorBoolean'
        "404":
          $ref: '#/components/responses/NotFoundErrorResponseWithErrorBoolean'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrorBoolean'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrorBoolean'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - file_variables:write
      summary: Create/modify/delete variables
      tags:
      - Variables
  /v1/files/{file_key}/dev_resources:
    get:
      description: Get dev resources in a file
      operationId: getDevResources
      parameters:
      - description: "The file to get the dev resources from. This must be a main\
          \ file key, not a branch key."
        explode: false
        in: path
        name: file_key
        required: true
        schema:
          type: string
        style: simple
      - description: "Comma separated list of nodes that you care about in the document.\
          \ If specified, only dev resources attached to these nodes will be returned.\
          \ If not specified, all dev resources in the file will be returned."
        explode: true
        in: query
        name: node_ids
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/responses/GetDevResourcesResponse'
        "400":
          $ref: '#/components/responses/BadRequestErrorResponseWithErrorBoolean'
        "401":
          $ref: '#/components/responses/UnauthorizedErrorResponseWithErrorBoolean'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrorBoolean'
        "404":
          $ref: '#/components/responses/NotFoundErrorResponseWithErrorBoolean'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrorBoolean'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrorBoolean'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - file_dev_resources:read
      summary: Get dev resources
      tags:
      - Dev Resources
  /v1/dev_resources:
    post:
      description: |-
        Bulk create dev resources across multiple files.
        Dev resources that are successfully created will show up in the links_created array in the response.

        If there are any dev resources that cannot be created, you may still get a 200 response. These resources will show up in the errors array. Some reasons a dev resource cannot be created include:

        - Resource points to a `file_key` that cannot be found.
        - The node already has the maximum of 10 dev resources.
        - Another dev resource for the node has the same url.
      operationId: postDevResources
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postDevResources_request'
        description: A list of dev resources that you want to create.
        required: true
      responses:
        "200":
          $ref: '#/components/responses/PostDevResourcesResponse'
        "400":
          $ref: '#/components/responses/BadRequestErrorResponseWithErrorBoolean'
        "401":
          $ref: '#/components/responses/UnauthorizedErrorResponseWithErrorBoolean'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrorBoolean'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrorBoolean'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrorBoolean'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - file_dev_resources:write
      summary: Create dev resources
      tags:
      - Dev Resources
    put:
      description: |-
        Bulk update dev resources across multiple files.

        Ids for dev resources that are successfully updated will show up in the `links_updated` array in the response.

        If there are any dev resources that cannot be updated, you may still get a 200 response. These resources will show up in the `errors` array.
      operationId: putDevResources
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putDevResources_request'
        description: A list of dev resources that you want to update.
        required: true
      responses:
        "200":
          $ref: '#/components/responses/PutDevResourcesResponse'
        "400":
          $ref: '#/components/responses/BadRequestErrorResponseWithErrorBoolean'
        "401":
          $ref: '#/components/responses/UnauthorizedErrorResponseWithErrorBoolean'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrorBoolean'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrorBoolean'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrorBoolean'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - file_dev_resources:write
      summary: Update dev resources
      tags:
      - Dev Resources
  /v1/files/{file_key}/dev_resources/{dev_resource_id}:
    delete:
      description: Delete a dev resource from a file
      operationId: deleteDevResource
      parameters:
      - description: "The file to delete the dev resource from. This must be a main\
          \ file key, not a branch key."
        explode: false
        in: path
        name: file_key
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the dev resource to delete.
        explode: false
        in: path
        name: dev_resource_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/components/responses/DeleteDevResourceResponse'
        "401":
          $ref: '#/components/responses/UnauthorizedErrorResponseWithErrorBoolean'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrorBoolean'
        "404":
          $ref: '#/components/responses/NotFoundErrorResponseWithErrorBoolean'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrorBoolean'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrorBoolean'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - file_dev_resources:write
      summary: Delete dev resource
      tags:
      - Dev Resources
  /v1/analytics/libraries/{file_key}/actions:
    get:
      description: Returns a list of library analytics actions data broken down by
        the requested dimension.
      operationId: getLibraryAnalyticsActions
      parameters:
      - description: File key of the library to fetch analytics data for.
        explode: false
        in: path
        name: file_key
        required: true
        schema:
          type: string
        style: simple
      - description: Cursor indicating what page of data to fetch. Obtained from prior
          API call.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: A dimension to group returned analytics data by. Accepts "component"
          or "team".
        explode: true
        in: query
        name: group_by
        required: true
        schema:
          enum:
          - component
          - team
          type: string
        style: form
      - description: ISO 8601 date string (YYYY-MM-DD) of the earliest week to include.
          Dates are rounded back to the nearest start of a week. Defaults to one year
          prior.
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: ISO 8601 date string (YYYY-MM-DD) of the latest week to include.
          Dates are rounded forward to the nearest end of a week. Defaults to the
          latest computed week.
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      - description: How to order response rows by week. This param can be either
          "asc" or "desc" (default).
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/responses/GetLibraryAnalyticsActionsResponse'
        "400":
          $ref: '#/components/responses/BadRequestErrorResponseWithErrorBoolean'
        "401":
          $ref: '#/components/responses/UnauthorizedErrorResponseWithErrorBoolean'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrorBoolean'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrorBoolean'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrorBoolean'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - library_analytics:read
      summary: Get library analytics action data.
      tags:
      - Library Analytics
  /v1/analytics/libraries/{file_key}/usages:
    get:
      description: Returns a list of library analytics usage data broken down by the
        requested dimension.
      operationId: getLibraryAnalyticsUsages
      parameters:
      - description: File key of the library to fetch analytics data for.
        explode: false
        in: path
        name: file_key
        required: true
        schema:
          type: string
        style: simple
      - description: Cursor indicating what page of data to fetch. Obtained from prior
          API call.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: A dimension to group returned analytics data by. Accepts "component"
          or "file".
        explode: true
        in: query
        name: group_by
        required: true
        schema:
          enum:
          - component
          - file
          type: string
        style: form
      - description: How to order response rows by number of instances. This param
          can be either "asc" or "desc" (default).
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/responses/GetLibraryAnalyticsUsagesResponse'
        "400":
          $ref: '#/components/responses/BadRequestErrorResponseWithErrorBoolean'
        "401":
          $ref: '#/components/responses/UnauthorizedErrorResponseWithErrorBoolean'
        "403":
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrorBoolean'
        "429":
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrorBoolean'
        "500":
          $ref: '#/components/responses/InternalServerErrorResponseWithErrorBoolean'
      security:
      - PersonalAccessToken: []
      - OAuth2:
        - library_analytics:read
      summary: Get library analytics usage data.
      tags:
      - Library Analytics
components:
  responses:
    GetFileResponse:
      content:
        application/json:
          schema:
            properties:
              name:
                description: The name of the file as it appears in the editor.
                type: string
              role:
                description: The role of the user making the API request in relation
                  to the file.
                enum:
                - owner
                - editor
                - viewer
                type: string
              lastModified:
                description: The UTC ISO 8601 time at which the file was last modified.
                format: date-time
                type: string
              editorType:
                description: The type of editor associated with this file.
                enum:
                - figma
                - figjam
                type: string
              thumbnailUrl:
                description: A URL to a thumbnail image of the file.
                type: string
              version:
                description: The version number of the file. This number is incremented
                  when a file is modified and can be used to check if the file has
                  changed between requests.
                type: string
              document:
                $ref: '#/components/schemas/DocumentNode'
              components:
                additionalProperties:
                  $ref: '#/components/schemas/Component'
                description: A mapping from component IDs to component metadata.
              componentSets:
                additionalProperties:
                  $ref: '#/components/schemas/ComponentSet'
                description: A mapping from component set IDs to component set metadata.
              schemaVersion:
                default: 0
                description: The version of the file schema that this file uses.
                type: number
              styles:
                additionalProperties:
                  $ref: '#/components/schemas/Style'
                description: A mapping from style IDs to style metadata.
              mainFileKey:
                description: "The key of the main file for this file. If present,\
                  \ this file is a component or component set."
                type: string
              branches:
                description: A list of branches for this file.
                items:
                  properties:
                    key:
                      description: The key of the branch.
                      type: string
                    name:
                      description: The name of the branch.
                      type: string
                    thumbnail_url:
                      description: A URL to a thumbnail image of the branch.
                      type: string
                    last_modified:
                      description: The UTC ISO 8601 time at which the branch was last
                        modified.
                      format: date-time
                      type: string
                  required:
                  - key
                  - last_modified
                  - name
                  - thumbnail_url
                type: array
            required:
            - componentSets
            - components
            - document
            - editorType
            - lastModified
            - name
            - role
            - schemaVersion
            - styles
            - version
      description: "Response from the GET /v1/files/{file_key} endpoint."
    GetFileNodesResponse:
      content:
        application/json:
          schema:
            properties:
              name:
                description: The name of the file as it appears in the editor.
                type: string
              role:
                description: The role of the user making the API request in relation
                  to the file.
                enum:
                - owner
                - editor
                - viewer
                type: string
              lastModified:
                description: The UTC ISO 8601 time at which the file was last modified.
                format: date-time
                type: string
              editorType:
                description: The type of editor associated with this file.
                enum:
                - figma
                - figjam
                type: string
              thumbnailUrl:
                description: A URL to a thumbnail image of the file.
                type: string
              version:
                description: The version number of the file. This number is incremented
                  when a file is modified and can be used to check if the file has
                  changed between requests.
                type: string
              nodes:
                additionalProperties:
                  properties:
                    document:
                      $ref: '#/components/schemas/Node'
                    components:
                      additionalProperties:
                        $ref: '#/components/schemas/Component'
                      description: A mapping from component IDs to component metadata.
                    componentSets:
                      additionalProperties:
                        $ref: '#/components/schemas/ComponentSet'
                      description: A mapping from component set IDs to component set
                        metadata.
                    schemaVersion:
                      default: 0
                      description: The version of the file schema that this file uses.
                      type: number
                    styles:
                      additionalProperties:
                        $ref: '#/components/schemas/Style'
                      description: A mapping from style IDs to style metadata.
                  required:
                  - componentSets
                  - components
                  - document
                  - schemaVersion
                  - styles
                description: A mapping from node IDs to node metadata.
            required:
            - editorType
            - lastModified
            - name
            - nodes
            - role
            - thumbnailUrl
            - version
      description: "Response from the GET /v1/files/{file_key}/nodes endpoint."
    GetImagesResponse:
      content:
        application/json:
          schema:
            properties:
              err:
                description: "For successful requests, this value is always `null`."
                nullable: true
              images:
                additionalProperties:
                  description: A URL to the requested image.
                  format: uri
                  nullable: true
                  type: string
                description: A map from node IDs to URLs of the rendered images.
            required:
            - err
            - images
      description: "Response from the GET /v1/images/{file_key} endpoint."
    GetImageFillsResponse:
      content:
        application/json:
          schema:
            properties:
              error:
                description: "For successful requests, this value is always `false`."
                enum:
                - false
                type: boolean
              status:
                description: Status code
                enum:
                - 200
                type: number
              meta:
                properties:
                  images:
                    additionalProperties:
                      description: A URL to the requested image fill.
                      format: uri
                      type: string
                    description: A map of image references to URLs of the image fills.
                required:
                - images
            required:
            - error
            - meta
            - status
      description: "Response from the GET /v1/files/{file_key}/images endpoint."
    GetTeamProjectsResponse:
      content:
        application/json:
          schema:
            properties:
              name:
                description: The team's name.
                type: string
              projects:
                description: An array of projects.
                items:
                  $ref: '#/components/schemas/Project'
                type: array
            required:
            - name
            - projects
      description: "Response from the GET /v1/teams/{team_id}/projects endpoint."
    GetProjectFilesResponse:
      content:
        application/json:
          schema:
            properties:
              name:
                description: The project's name.
                type: string
              files:
                description: An array of files.
                items:
                  properties:
                    key:
                      description: The file's key.
                      type: string
                    name:
                      description: The file's name.
                      type: string
                    thumbnail_url:
                      description: The file's thumbnail URL.
                      type: string
                    last_modified:
                      description: The UTC ISO 8601 time at which the file was last
                        modified.
                      format: date-time
                      type: string
                  required:
                  - key
                  - last_modified
                  - name
                type: array
            required:
            - files
            - name
      description: "Response from the GET /v1/projects/{project_id}/files endpoint."
    GetFileVersionsResponse:
      content:
        application/json:
          schema:
            properties:
              versions:
                description: An array of versions.
                items:
                  $ref: '#/components/schemas/Version'
                type: array
              pagination:
                $ref: '#/components/schemas/ResponsePagination'
            required:
            - pagination
            - versions
      description: "Response from the GET /v1/files/{file_key}/versions endpoint."
    GetCommentsResponse:
      content:
        application/json:
          schema:
            properties:
              comments:
                description: An array of comments.
                items:
                  $ref: '#/components/schemas/Comment'
                type: array
            required:
            - comments
      description: "Response from the GET /v1/files/{file_key}/comments endpoint."
    PostCommentResponse:
      content:
        application/json:
          schema:
[...]
